# Analyzing Performance at the 2025 SF Marathon: Terrain, Pace, and Heart Rate

This notebook explores my performance at the 2025 San Francisco Marathon. The data is pulled from Strava records of my 26.2-mile race. The focus of this exploratory analysis is to identify the relationship between course structure and terrain (elevation, distance segments, and aid stations) on performance metrics such as pace and heartrate. The goal is to draw insights to guide future training and serve as a reference if I run this marathon agian. 

The analysis is done using SQL and Python (pandas, matplotlib) in a Jupyter notebook. Raw data (TCX and GPX) was cleaned in separate Python scripts.

## 1. Read Data

In [2]:
# Data, SQL, visualization imports
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to SQLite database 
con = sqlite3.connect("../data/marathon_data.db") 
cur = con.cursor()
    
# Verify tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)
print(tables)

       name
0  tcx_data

In [ ]:
# Show all columns in the tcx_data table
tcx_cols = pd.read_sql("PRAGMA table_info(tcx_data);", con)
print(tcx_cols[['name', 'type']])

         name     type
0        time     TEXT
1    latitude     REAL
2   longitude     REAL
3   elevation     REAL
4    distance     REAL
5  heart_rate  INTEGER
        name  type
0   latitude  REAL
1  longitude  REAL
2  elevation  REAL
3       time  TEXT

The database contains a `tcx_data` table with 6 columns. The names and data types are as follows:

- `tcx_data` 
    - __time__: timestamp for each row entry
    - __latitude__: 
    - __latitude__: 
    - __latitude__: 
    - __latitude__: 
    - __latitude__: